@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Poppins';
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}