@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

nav {
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f2f5f7;
    padding: .5rem 5rem;
    letter-spacing: 1px;
    color: #0D2F3F;
    font-weight: 600;
    font-size: 1.1rem;
}

/*Styling logo*/
.logo {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

/*Styling Links*/
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
}

.nav-links li .a {
    text-decoration: none;
    padding: 0 1rem;
    /* margin: 0 0.7vw; */
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.nav-links li .a:hover {
    border-left: 3px solid #668A85;
    border-right: 3px solid #668A85;
    color: #668A85;
}

.nav-links li {
    position: relative;
}

.callBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1100px){
    .phoneNumber {
        display: none;
    }
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
        color: #000;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .callBtn {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;;
        transition: all 0.7s ease;
    }

    .hamburger div {
        background-color: #000;
    }

    .nav-links {
        position: fixed;
        background: #F1EFE5;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 1;
        font-size: 1.5rem;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li .a {
        color: #000;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}